/* ==================== RED BUTTONS ==================== */

.red__btn{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);

    &__link{
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        transition: all .3s ease-out;
        color: black;
        @include texto(1.8rem, 500);

        &:hover{
            color: $color-gris-claro;
            transition: all .3s ease-out;
        }
    }
}

/* ===================================================== */