/* ==================== VARIABLES ==================== */

$color-gris: #444444;
$color-gris-claro: #cecece;
$color-destacado-1: #d3c3a2;
$color-destacado-2: #D59A38;

/* =================================================== */