/* ==================== VARIABLES ==================== */

$color-principal-destacado: #D59A38;
$color-principal-opaco: #d3c3a2;
$color-gris-claro: #cecece;
$color-gris-oscuro: #444444;

/* =================================================== */