/* ==================== VARIABLES ==================== */

$color-principal: (
    destacado: #D59A38,
    opacado: #d3c3a2
);

$color-gris: (
    claro: #cecece,
    oscuro: #444444
);

/* =================================================== */