/* ==================== PROPIEDADES ==================== */
.propiedades{
    margin-top: 10px;
    &__titulo{
        @include texto(1.9rem, 500);
    }
}

/* ---------- FILTROS ---------- */
.propiedades__filtro,
.filtro__precio{
    gap: 5px;
}
.filtro__precio__divisa{
    width: min-content;
}
.resultados__info{
    margin: 20px 0 5px 0;
    span{
        @include texto(1.1em, 600);
    }
}

.filtro__btn{
    background-color: $color-gris-claro;
    color: black;
    border: 1px solid $color-gris-claro;

    &:hover{
        background-color: $color-destacado-1;
        border: 1px solid $color-destacado-1;
    }
}

.filtro{
    &__buscar, &__tipo, &__precio__divisa, &__precio__valor, &__orden{
        background-color: $color-gris-claro;
        transition: 240ms ease-in;
        &:focus{
            background-color: $color-destacado-1;
            box-shadow: 0px 0px 10px 5px rgba(211, 195, 162, 0.3);
            border: 1px solid $color-destacado-1;
            transition: 240ms ease-out;
        }

        &:hover{
            border: 1px solid black;
        }
    }
}

@media (min-width: 992px){
    .propiedades__filtro{
        height: 40px;
    }
    .filtro{
        &__tipo, &__orden{
            width: min-content;
        }
        &__precio__valor{
            width: 100px;
        }
        &__btn{
            width: 40%;
        }
    }
}

@media (min-width: 1200px){
    .filtro__btn{
        width: 20%;
    }
}

/* ---------- Manejo de Propiedades ---------- */
.propiedad{
    box-shadow: 0 2px 3px 0 rgba(42,42,42,.05);
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #adb5be6c;
    padding: 0;

    margin: 5px;

    &__img{
        width: 100%;
    }
    &__datos{
        padding: 10px 10px 5px 10px;
    }
    &__descripcion{
        @include texto(0.875rem, 300);
        margin: 10px auto;
    }
    &__valor{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__valor .propiedad__precio{
        @include texto(1.2rem, 700);
    }
    &__valor .propiedad__expensas{
        @include texto(.9rem, 400);
    }
    &__caracteristicas{
        gap: 8px;
        font-size: 0.875rem;
        p{
            font-weight: 400;
        }
        span{
            font-weight: 600;
        }
    }
}


/* ---------- Control de paginas "resultados" ---------- */
.paginas{
    margin-top: 10px;
}
.page-link{
    background-color: $color-gris-claro;
    color: black;
    font-weight: 500;
    &:hover{
        color: $color-destacado-2;
    }
    &:focus{
        color: $color-destacado-2;
    }
}
.active>.page-link, .page-link.active{
    background-color: $color-destacado-1;
    border: 1px solid $color-destacado-1;
}

/* ======================================================== */