/* ==================== FOOTER ==================== */

/* ---------- Footer index ---------- */
.donde-encontrarnos{
    padding: 15px 0;
    &__info{
        text-align: center;
        margin: 5px auto;
    }
    &__titulo{
        padding: 10px 0;
        @include texto(1.5rem, 500);
    }
    &__subtitulo{
        @include texto(1.2rem, 500);
    }
    &__descripcion{
        @include texto(1rem, 400);
    }
}

/* ---------- Footer Comprar/Alquilar ---------- */
.footer{
    background: linear-gradient(315deg, map-get($color-gris, "claro") 0%, #adb5be 74%);
    &-general{
        height: 250px;
        padding: 15px 0;
    }
    &__img{
        height: 100px;
        margin-bottom: 20px;
    }
}
@media (min-width: 768px){
    .footer{
        &-general{
            height: 150px;
        }
        &__img{
            margin-bottom: unset;
        }
    }
}

/* ---------- Footer Vender/Contacto ---------- */

.footer-redes{
    margin: 15px auto;
    .red__btn{
        background-color: rgba(255, 255, 255, 0.384);
    }
}

/* ================================================ */