/* ==================== FOOTER ==================== */

/* ---------- Footer index ---------- */
.donde-encontrarnos{
    padding: 15px 0;
    &__info{
        text-align: center;
        margin: 5px auto;
    }
    &__titulo{
        padding: 10px 0;
        @include texto(1.5rem, 500);
    }
    &__subtitulo{
        @include texto(1.2rem, 500);
    }
    &__descripcion{
        @include texto(1rem, 400);
    }
}

/* ---------- Footer Comprar/Alquilar ---------- */
.footer{
    background: linear-gradient(315deg, $color-gris-claro 0%, #adb5be 74%);
    &__img{
        height: 100px;
    }
    &__contacto{
        &__link{
            color: $color-gris-oscuro;
            transition: all 200ms ease-out;
            i{
                color: $color-gris-oscuro;
                font-size: 24px;
            }
            &:hover{
                color: $color-principal-destacado;
                transition: all 220ms ease-in;
            }
        }
    }
    &__redes{
        &__link{
            color: $color-gris-oscuro;
            transition: all 200ms ease-out;
            i{
                font-size: 32px;
            }
            &:hover{
                color: $color-principal-destacado;
                transition: all 220ms ease-in;
            }
        }
    }
}

/* ---------- Footer Vender/Contacto ---------- */

.footer__redes--form{
    margin: 15px auto;
    .red__btn{
        background-color: rgba(255, 255, 255, 0.384);
    }
}

/* ================================================ */