/* ==================== NAVIGATION ==================== */

.nav-logo{
    height: 50px;
}
.navbar-toggler{
    border: none;
    &:focus{
        box-shadow: none;
    }
}

.nav-link{
    @include texto(1.1rem, 500);
    color: black;
    transition: 240ms ease-in;

    &:hover{
        color: $color-principal-opaco;
        transition: 240ms ease-in;
    }
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: $color-principal-destacado;
}

/* ==================================================== */